.bg-black {
  background-color: var(--black);
}
.bg-white {
  background-color: var(--white);
}
.bg-red {
  background-color: var(--red);
}

.color-white {
  color: var(--white);
}
.color-red {
  color: var(--red);
}
