.px-16 {
  padding: 0px 16px 0px 16px;
}
.pt-40 {
  padding-top: 40px;
}
.py-40 {
  padding: 40px 0px 40px 0px;
}
.py-72 {
  padding: 72px 0px 72px 0px;
}
.py-96 {
  padding: 96px 0px 96px 0px;
}
.py-160 {
  padding: 160px 160px 160px 160px;
}

.mb-24 {
  margin-bottom: 24px;
}
.mb-28 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 36px;
}
.mb-36 {
  margin-bottom: 36px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-24 {
  margin-right: 24px;
}
.ml-550 {
  margin-left: 550px;
}
